body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #333;
  background-color: #f9f9f9;
}

h1,
h2,
h3 {
  color: #202124;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
